.elementor-461
  .elementor-element.elementor-element-685d5b49:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-461
  .elementor-element.elementor-element-685d5b49
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0070ff;
}
.elementor-461 .elementor-element.elementor-element-685d5b49 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-461
  .elementor-element.elementor-element-685d5b49
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-461
  .elementor-element.elementor-element-36235a39.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-461
  .elementor-element.elementor-element-36235a39.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-461
  .elementor-element.elementor-element-1479ba8
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 69px;
}
.elementor-461 .elementor-element.elementor-element-5d44ca4 {
  text-align: left;
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-461 .elementor-element.elementor-element-9f4e9ba .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-color: #0017b2;
}
.elementor-461 .elementor-element.elementor-element-1fbe1c96 {
  padding: 100px 100px 100px 100px;
}
.elementor-461 .elementor-element.elementor-element-782d1517 {
  text-align: left;
  color: #000000;
  font-family: "Rubik", Sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.elementor-461
  .elementor-element.elementor-element-703fedaa:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-461
  .elementor-element.elementor-element-703fedaa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #002fce;
}
.elementor-461
  .elementor-element.elementor-element-703fedaa
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-461 .elementor-element.elementor-element-703fedaa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 50px 50px 50px;
}
.elementor-461
  .elementor-element.elementor-element-703fedaa.elementor-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(7.8px);
  backdrop-filter: blur(7.8px);
  border-radius: inherit;
  background-color: inherit;
}
.elementor-461
  .elementor-element.elementor-element-59d51a64
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-461
  .elementor-element.elementor-element-59d51a64
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-461
  .elementor-element.elementor-element-131ddd7a
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-461
  .elementor-element.elementor-element-131ddd7a
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-461
  .elementor-element.elementor-element-7e818f92
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-461
  .elementor-element.elementor-element-7e818f92
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-461
  .elementor-element.elementor-element-1b4da0f7
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-461
  .elementor-element.elementor-element-1b4da0f7
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-461
  .elementor-element.elementor-element-d003026:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-461
  .elementor-element.elementor-element-d003026
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #00299e;
}
.elementor-461
  .elementor-element.elementor-element-d003026
  > .elementor-background-overlay {
  background-image: url("../../2023/11/testbg.jpg");
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-461 .elementor-element.elementor-element-d003026 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-461 .elementor-element.elementor-element-c765f6b {
  --spacer-size: 111px;
}
.elementor-461
  .elementor-element.elementor-element-2801554
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-461
  .elementor-element.elementor-element-2801554.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-461
  .elementor-element.elementor-element-2801554.elementor-view-framed
  .elementor-icon,
.elementor-461
  .elementor-element.elementor-element-2801554.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-461
  .elementor-element.elementor-element-2801554.elementor-view-framed
  .elementor-icon,
.elementor-461
  .elementor-element.elementor-element-2801554.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-461 .elementor-element.elementor-element-2801554 .elementor-icon {
  font-size: 47px;
}
.elementor-461
  .elementor-element.elementor-element-2801554
  .elementor-icon
  svg {
  height: 47px;
}
.elementor-461 .elementor-element.elementor-element-cf47704 {
  text-align: center;
}
.elementor-461
  .elementor-element.elementor-element-cf47704
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-weight: 600;
}
.elementor-461 .elementor-element.elementor-element-0d2983d {
  text-align: center;
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-461 .elementor-element.elementor-element-1ba37bb {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-461
  .elementor-element.elementor-element-1ba37bb
  > .elementor-widget-container {
  margin: 0px 142px 0px 215px;
  border-style: none;
}
.elementor-461
  .elementor-element.elementor-element-1ba37bb.elementor-widget
  .elementor-widget-container,
.elementor-461
  .elementor-element.elementor-element-1ba37bb.elementor-widget
  .elementor-widget-container
  > * {
  position: relative;
  --jkit-option-enabled: 0px;
}
.elementor-461
  .elementor-element.elementor-element-1ba37bb.elementor-widget
  .elementor-widget-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  border-radius: inherit;
  background-color: inherit;
}
:root {
  --page-title-display: none;
}
@media (max-width: 767px) {
  .elementor-461 .elementor-element.elementor-element-685d5b49 {
    padding: 100px 10px 100px 0px;
  }
  .elementor-461 .elementor-element.elementor-element-1479ba8 {
    text-align: center;
  }
  .elementor-461
    .elementor-element.elementor-element-1479ba8
    .elementor-heading-title {
    font-size: 42px;
    line-height: 1.1em;
  }
  .elementor-461 .elementor-element.elementor-element-5d44ca4 {
    text-align: center;
  }
  .elementor-461 .elementor-element.elementor-element-1fbe1c96 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-461 .elementor-element.elementor-element-782d1517 {
    font-size: 16px;
  }
  .elementor-461
    .elementor-element.elementor-element-1ba37bb
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 19px 19px 19px 19px;
    border-radius: 10px 10px 10px 10px;
  }
  .elementor-461
    .elementor-element.elementor-element-1ba37bb.elementor-widget
    .elementor-widget-container,
  .elementor-461
    .elementor-element.elementor-element-1ba37bb.elementor-widget
    .elementor-widget-container
    > * {
    position: relative;
    --jkit-option-enabled: 6.6px;
  }
  .elementor-461
    .elementor-element.elementor-element-1ba37bb.elementor-widget
    .elementor-widget-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(6.6px);
    backdrop-filter: blur(6.6px);
    border-radius: inherit;
    background-color: inherit;
  }
}
