.elementor-431
  .elementor-element.elementor-element-d792e1b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-431
  .elementor-element.elementor-element-d792e1b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0070ff;
}
.elementor-431 .elementor-element.elementor-element-d792e1b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-431
  .elementor-element.elementor-element-d792e1b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-431
  .elementor-element.elementor-element-1392431.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-431
  .elementor-element.elementor-element-1392431.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-431
  .elementor-element.elementor-element-f725246
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 69px;
}
.elementor-431 .elementor-element.elementor-element-9129a2e {
  text-align: left;
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-431 .elementor-element.elementor-element-ed65b91 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-color: #0017b2;
}
.elementor-431 .elementor-element.elementor-element-40e88b4 {
  padding: 100px 100px 100px 100px;
}
.elementor-431 .elementor-element.elementor-element-bd27f89 {
  text-align: left;
  color: #000000;
  font-family: "Rubik", Sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.elementor-431
  .elementor-element.elementor-element-617a772:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-431
  .elementor-element.elementor-element-617a772
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #002fce;
}
.elementor-431
  .elementor-element.elementor-element-617a772
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-431 .elementor-element.elementor-element-617a772 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 50px 50px 50px;
}
.elementor-431
  .elementor-element.elementor-element-617a772.elementor-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(7.8px);
  backdrop-filter: blur(7.8px);
  border-radius: inherit;
  background-color: inherit;
}
.elementor-431
  .elementor-element.elementor-element-c5c8133
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-431
  .elementor-element.elementor-element-c5c8133
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-431
  .elementor-element.elementor-element-1b73a96
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-431
  .elementor-element.elementor-element-1b73a96
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-431
  .elementor-element.elementor-element-313bac4
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-431
  .elementor-element.elementor-element-313bac4
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-431
  .elementor-element.elementor-element-9c6c3f4
  .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
.elementor-431
  .elementor-element.elementor-element-9c6c3f4
  .elementor-counter-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
.elementor-431
  .elementor-element.elementor-element-12614b6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-431
  .elementor-element.elementor-element-12614b6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #00299e;
}
.elementor-431
  .elementor-element.elementor-element-12614b6
  > .elementor-background-overlay {
  background-image: url("../../2023/11/testbg.jpg");
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-431 .elementor-element.elementor-element-12614b6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-431 .elementor-element.elementor-element-633b41a {
  --spacer-size: 111px;
}
.elementor-431
  .elementor-element.elementor-element-81ef068
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-431
  .elementor-element.elementor-element-81ef068.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-431
  .elementor-element.elementor-element-81ef068.elementor-view-framed
  .elementor-icon,
.elementor-431
  .elementor-element.elementor-element-81ef068.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-431
  .elementor-element.elementor-element-81ef068.elementor-view-framed
  .elementor-icon,
.elementor-431
  .elementor-element.elementor-element-81ef068.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-431 .elementor-element.elementor-element-81ef068 .elementor-icon {
  font-size: 47px;
}
.elementor-431
  .elementor-element.elementor-element-81ef068
  .elementor-icon
  svg {
  height: 47px;
}
.elementor-431 .elementor-element.elementor-element-adacb89 {
  text-align: center;
}
.elementor-431
  .elementor-element.elementor-element-adacb89
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-weight: 600;
}
.elementor-431 .elementor-element.elementor-element-de4fb7e {
  text-align: center;
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-431 .elementor-element.elementor-element-4d7ebe7 {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-431
  .elementor-element.elementor-element-4d7ebe7
  > .elementor-widget-container {
  margin: 0px 142px 0px 215px;
  border-style: none;
}
.elementor-431
  .elementor-element.elementor-element-4d7ebe7.elementor-widget
  .elementor-widget-container,
.elementor-431
  .elementor-element.elementor-element-4d7ebe7.elementor-widget
  .elementor-widget-container
  > * {
  position: relative;
  --jkit-option-enabled: 0px;
}
.elementor-431
  .elementor-element.elementor-element-4d7ebe7.elementor-widget
  .elementor-widget-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  border-radius: inherit;
  background-color: inherit;
}
:root {
  --page-title-display: none;
}
@media (max-width: 767px) {
  .elementor-431 .elementor-element.elementor-element-d792e1b {
    padding: 100px 10px 100px 0px;
  }
  .elementor-431 .elementor-element.elementor-element-f725246 {
    text-align: center;
  }
  .elementor-431
    .elementor-element.elementor-element-f725246
    .elementor-heading-title {
    font-size: 42px;
    line-height: 1.1em;
  }
  .elementor-431 .elementor-element.elementor-element-9129a2e {
    text-align: center;
  }
  .elementor-431 .elementor-element.elementor-element-40e88b4 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-431 .elementor-element.elementor-element-bd27f89 {
    font-size: 16px;
  }
  .elementor-431
    .elementor-element.elementor-element-4d7ebe7
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 19px 19px 19px 19px;
    border-radius: 10px 10px 10px 10px;
  }
  .elementor-431
    .elementor-element.elementor-element-4d7ebe7.elementor-widget
    .elementor-widget-container,
  .elementor-431
    .elementor-element.elementor-element-4d7ebe7.elementor-widget
    .elementor-widget-container
    > * {
    position: relative;
    --jkit-option-enabled: 6.6px;
  }
  .elementor-431
    .elementor-element.elementor-element-4d7ebe7.elementor-widget
    .elementor-widget-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(6.6px);
    backdrop-filter: blur(6.6px);
    border-radius: inherit;
    background-color: inherit;
  }
}
